.git
cmake-build-debug/
cmake-build-debug
.idea

build/
__pycache__/
ZL*
chi_build/
bin/
Makefile

# Latex compile files
*.aux
*.lof
*.log
*.lot
*.synctex.gz
*.toc

# All vtk mesh files
*.vtu
*.pvtu
MCParTra/Documentation/MichiganMCbook.pdf

MCParTra/Documentation/Alireza Haghighat - Monte Carlo Methods for Particle Transport-CRC Press (2020).pdf
